<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
<h2>Hello! Please fill in the fields</h2>
<form th:method="POST" th:action="@{/customers}" th:object="${customer}">
    <label for="name">ENTER YOUR NAME: </label>
    <input type="text" th:field="*{name}" id="name"/>
    </br>
    <label for="age">ENTER YOUR AGE: </label>
    <input type="text" th:field="*{age}" id="age"/>
    </br>
    <label for="budget">ENTER YOUR BUDGET: </label>
    <input type="text" th:field="*{budget}" id="budget"/>
    <input type="submit" value="Create!">
</form>
</body>
</html>